<?xml version="1.0" encoding="UTF-8"?>

<launch>

    <include file="$(find f1tenth_gym_ros)/launch/gym_bridge_host.launch"/>

    <node pkg="gym_pp" type="gym_pp_node" name="pure_pursuit" output="screen"/>

    <node pkg="gym_pp" type="odom_listener.py" name="odom_listener" output="screen"/>

</launch>
